[tool.poetry]
name = "quotaclimat"
version = "0.1.0"
description = ""
authors = ["Rambier Estelle <estelle.rambier@hotmail.fr>"]
readme = "README.md"

[[tool.poetry.source]]
name = "pypi-public"
url = "https://pypi.org/simple/"

[tool.poetry.dependencies]
python = "^3.10"
plotly = "^5.10.0"
pandas = "^1.5.0"
nltk = "^3.7"
matplotlib = "^3.6.1"
ipykernel = "^6.16.0"
nbformat = "^5.7.0"
openpyxl = "^3.0.10"
jupyter = "^1.0.0"
notebook = "^6.5.1"
dash = "^2.6.2"
streamlit = "^1.15.0"
textblob = "^0.17.1"
textblob-fr = "^0.2.0"
sklearn = "^0.0"
wordcloud = "^1.8.2.2"
gensim = "^4.2.0"
spacy = "^3.4.2"
transformers = "^4.24.0"
seaborn = "^0.12.1"
flashtext = "^2.7"
inflect = "^6.0.2"
pyairtable = "^1.3.0"
requests = "^2.28.1"
beautifulsoup4 = "^4.11.1"
lxml = "^4.9.1"
advertools = "^0.13.2"
xmltodict = "^0.13.0"
streamlit-tags = "^1.2.8"
pandera = "^0.13.4"

[build-system]
requires = ["poetry-core>=1.1"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.group.dev.dependencies]
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
pre-commit = "^2.18.1"
black = "^22.3.0"
isort = "^5.10.1"
flake8 = "^4.0.1"
invoke = "^1.7.3"

# also to run
# poetry run python3 -m spacy download fr_core_news_md