# RRS Database
RRS_PG_HOST=localhost
RRS_PG_PORT=5432
RRS_PG_DATABASE=rrs_db
RRS_PG_USER=
RRS_PG_PASSWORD=

# LLM APIs
MISTRAL_API_KEY=
ANTHROPIC_API_KEY=

# HuggingFace (required for private datasets)
HF_TOKEN=

# S3 / Scaleway Object Storage (keyword_detection only)
BUCKET=
BUCKET_SECRET=
BUCKET_NAME=


POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=