[defaults]
inventory = inventory.yml
roles_path = roles
host_key_checking = True
log_path = .ansible.log
nocows = 1

[ssh_connection]
pipelining = True
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new -o UserKnownHostsFile=/dev/null
