#!/usr/bin/env bash

export CONTAINER_REGISTRY_MISINFORMATION=
export CONTAINER_REGISTRY_BAROMETRE=
export CONTAINER_REGISTRY_RRS=


# prod
export API_LABEL_STUDIO_KEY=
export ANTHROPIC_API_KEY=
export LABELSTUDIO_INGESTION_POSTGRES_USER=
export LABELSTUDIO_INGESTION_POSTGRES_PASSWORD=
export MEDIATREE_USER=
export MEDIATREE_PASSWORD=
export MISTRAL_API_KEY=
export OPENAI_API_KEY=
export BAROMETRE_POSTGRES_HOST=
export BAROMETRE_POSTGRES_PASSWORD=
export BAROMETRE_POSTGRES_USER=
export BAROMETRE_POSTGRES_USER_READ=
export BAROMETRE_POSTGRES_PASSWORD_READ=
export RRS_BAROMETRE_READ_USER=
export RRS_BAROMETRE_READ_PASSWORD=
export RRS_PG_HOST=
export RRS_PG_PASSWORD=
export RRS_PG_USER=
export RRS_SCW_SECRET=
export PULSAR_BASE_URL=https://lessurligneurs.pulsarplatform.com
export PULSAR_EMAIL=
export PULSAR_PASSWORD=
export SCW_ACCESS=
export SCW_SECRET=
export SENTRY_DSN=

# dev
export API_LABEL_STUDIO_KEY_DEV=
export BAROMETRE_POSTGRES_HOST_DEV=
export BAROMETRE_POSTGRES_PASSWORD_DEV=
export BAROMETRE_POSTGRES_USER_DEV=
export RRS_PG_HOST_DEV=
export RRS_PG_PASSWORD_DEV=
export RRS_PG_USER_DEV=
export RRS_SCW_SECRET_DEV=

# Basic Auth Credentials (cleartext)
# Kestra (orc.quotaclimat.org): admin / JA5daf9Po1mpDz3TYKDM2Tcx
# Traefik dashboard (traefik.quotaclimat.org): admin / E9tLpT0TXcbTIdCmer3Xwat4

export ACME_EMAIL=
export TRAEFIK_DOMAIN=
export KESTRA_DOMAIN=
export GLITCHTIP_DOMAIN=
export TRAEFIK_DASHBOARD_AUTH=
export KESTRA_BASIC_AUTH=
export KESTRA_DB_USER=
export KESTRA_DB_PASSWORD=
export KESTRA_DB_NAME=
export GLITCHTIP_DB_USER=
export GLITCHTIP_DB_PASSWORD=
export GLITCHTIP_DB_NAME=
export GLITCHTIP_SECRET_KEY=
export POSTGRES_HOST=
export POSTGRES_PORT=
export TF_VAR_postgres_password_kestra=
export TF_VAR_postgres_password_glitchtip=
export TF_VAR_pg_instance_name=
export TF_VAR_pg_project_name=
