name: tests

on:
  push:

env:
  PYTHON_VERSION: '3.11'
  POETRY_VERSION: '1.8.2'

jobs:
  # Label of the runner job
  unit_test:
    # You must use a Linux environment when using service containers or container jobs
    runs-on: ubuntu-latest

    # Service containers to run with `runner-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres:13
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: user
          POSTGRES_DB: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - uses: actions/checkout@v4
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: poetry install
        run: poetry install
      - name: docker compose up nginx
        run: docker compose up -d nginxtest

      - name: pytest run everything else
        run: |
          set -o pipefail
          poetry run pytest -k 'not test_first_update_keywords' --junitxml=pytest.xml \
           --cov-report=term-missing:skip-covered \
           --cov=quotaclimat --cov=postgres test/ | \
           tee pytest-coverage.txt
        env:
          ENV: dev
          POSTGRES_USER: user
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
      - name: pytest run test_first_update_keywords
        run: |
          set -o pipefail
          poetry run pytest -k 'test_first_update_keywords'
        env:
          ENV: dev
          POSTGRES_USER: user
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
      # - name: Upload coverage reports to Codecov
      #   uses: codecov/codecov-action@v3
      #   env:
      #     CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Verify poetry.lock agrees with pyproject.toml
        run: poetry check --lock

      - name: Pytest coverage comment
        id: coverageComment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: pytest-coverage.txt
          junitxml-path: ./pytest.xml

      - name: Check the output coverage
        run: |
          echo "Coverage Percantage - ${{ steps.coverageComment.outputs.coverage }}"

      - name: Create Awesome Badge
        if: github.ref == 'refs/heads/main'
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 579237daab71afbb359338e2706b7f36
          filename: test.json
          label: Coverage
          message: "${{ steps.coverageComment.outputs.tests }} tests - ${{ steps.coverageComment.outputs.coverage }}"
          color: ${{ steps.coverageComment.outputs.color }}
          namedLogo: python